@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.noResults {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
  align-items: center;
  gap: 5rem;
  justify-content: center;

  h3 {
    font-family: $font-title;
    font-size: 5rem;

    @include responsive("tab-port") {
      font-size: 3rem;
    }
  }
}
