@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.movieGrid {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-bottom: 3rem;
  position: relative;

  @include responsive("tab-port") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive-custom(34.37em) {
    grid-template-columns: 1fr;
  }
}

.noResults {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $font-title;
}
