@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.nav {
  padding: 3rem 0;

  h3 {
    color: $color-primary;
    fill: $color-primary;
    font-family: $font-title;
    font-size: 4rem;
  }

  .container {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    & > * {
      flex-grow: 1;
    }

    @include responsive("mobile") {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 4rem;
      & > * {
        width: 100%;
      }
    }
  }
}
