@import "../../styles/variables.scss";

.nav {
  padding: 3rem 0;

  h3 {
    color: $color-primary;
    fill: $color-primary;
    font-family: $font-title;
    font-size: 4rem;
  }

  .container {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    & > * {
      flex-grow: 1;
    }
  }
}
